body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

html{
	min-height: 100%;
	position: relative;
}
.container{
	max-width: 1000px;
	margin: 30px auto 30px auto;
	padding-bottom: 30px;
}
